@model IEnumerable<WeeklyFirstTask.Models.Doctor>


<div class="table-responsive">
    <tr>
        <td><a asp-action="Logout" asp-controller="LoginSign" class="btn-outline-danger">Logout</a></td>
    </tr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact No</th>
                <th>Specilist</th>
                <th>Action</th>



                <
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>

                <td>@item.DName</td>
                <td>@item.Contact</td>
                <td>@item.Specialization</td>
                @*<td>@item.GetDateTime</td>*@



               
                <td><a asp-action="AppointDetails" asp-controller="Managements" asp-Route-Id="@item.DId" class="btn-outline-danger">Appoint</a></td>


            </tr>
            }
        </tbody>
    </table>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
